.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Dados e artefatos grandes
data/*
!data/.gitkeep
archive.zip

# Checkpoints de modelos
*.pt
*.pth
*.ckpt
!results/**/*.pt
!results/**/*.pth
!results/**/*.ckpt

# Saidas locais auxiliares
results/dataset_check/
results/transfer_modelo/

# Kaggle
kaggle.json
